<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.p_roulette.payment.PaymentMapper">
    <insert id="insPayment" useGeneratedKeys="true" keyProperty="ipayment">
        insert into p_payment
        set iuser_menu=#{iuserMenu}
        ,imanagement=#{imanagement}
    </insert>

    <select id="getUserMonthPayment" resultType="PaymentSelVo">
        select A.ipayment,B.name,B.menu,A.payment_at paymentAt
        from p_payment A
        inner join (
        select x.name,y.imanagement,z.menu
        from p_user x
        inner join p_management y
        on x.iuser=y.iuser
        inner join p_user_menu z
        on x.iuser=z.iuser
        ) B
        on A.imanagement=B.imanagement
        where imanagement=#{imanagement}
    </select>
</mapper>